[% PROCESS "inc/header.inc" %]
[% $page := "Attributions" %]
[% PROCESS "inc/list-nav.inc" %]

  <div id="content">
    <h1 id="title">falling-sky attributions</h1>
    

    <p><em>falling-sky</em> is the open source version of test-ipv6.com. You can find more about the <a href="source.html">source</a>, bug tracking, etc there.</p>

    <p>{{ This site would not exist without the following components and resources. }}</p>

    <dl>
      <dt>"The Apache Modules Book: Application Development with Apache"</dt>

      <dd>
        <p>by Nick Kew; published by Prentice Hall, January 27 2007.<br/>
        Provided a starting point for <code>mod_ip</code>.</p>
      </dd>

      <dt>The Apache APR library</dt>

      <dd>
        <p><code>apr_strtok</code> borrowed for use inside <code>mod_ip</code>.</p>
      </dd>

      <dt>Knob Buttons Toolbar icons</dt>

      <dd>
        <p>by ~iTweek; <a target="_blank" href="http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960"></a></p>
      </dd>



      <dt>jquery-1.4.2.js - jQuery JavaScript Library v1.4.2<br/>
      jquery-1.4.2.min.js</dt>

      <dd>
        <p><a target="_blank" href="http://jquery.com/">http://jquery.com/</a><br/>
        Copyright 2010, John Resig<br/>
        License: MIT or GPL2; portions MIT, BSD<br/>
        Includes Sizzle.js<br/>
        <a target="_blank" href="http://sizzlejs.com/">http://sizzlejs.com/</a><br/>
        Copyright 2010, The Dojo Foundation<br/>
        License: MIT, BSD, GPL<br/></p>
      </dd>

      <dt>jquery.jsonp-2.0.2.js - jQuery JSONP Core Plugin 2.0.2 (2010-05-21)</dt>

      <dd>
        <p><a target="_blank" href="http://code.google.com/p/jquery-jsonp/">http://code.google.com/p/jquery-jsonp/</a><br/>
        Copyright (c) 2010 Julian Aubourg<br/>
        License: MIT http://www.opensource.org/licenses/mit-license.php<br/></p>
      </dd>
      
      <dt>jquery.tablesorter.js - TableSorter 2.0 - Client-side table sorting with ease!</dt>
      <dd>
        <p><a target="_blank" href="http://tablesorter.com/">http://tablesorter.com/</a><br/>
        Copyright (c) 2007 Christian Bach<br/>
        Dual license MIT, GPL<br/></p>
      </dd>

      <dt>mootools-1.2.4-core.js - Used for browser feature testing (to detect IE)</dt>

      <dd>
        <p><a target="_blank" href="http://mootools.net">http://mootools.net</a> Copyright (c) 2006-2008 [Valerio Proietti](http://mad4milk.net/).<br/>
        license: MIT-style license.<br/>
        authors: The MooTools production team<br/>
        (http://mootools.net/developers/)<br/></p>
      </dd>

      <dt>dumpObj.js</dt>

      <dd>
        <p><a target="_blank" href="http://geekswithblogs.net/svanvliet/archive/2006/03/23/simple-javascript-object-dump-function.aspx">http://geekswithblogs.net/svanvliet/archive/2006/03/23/simple-javascript-object-dump-function.aspx</a></p>
      </dd>

      <dt>spinner.gif</dt>

      <dd>
        <p><a href="http://en.wikipedia.org/wiki/File:Spinning_wheel_throbber.gif">http://en.wikipedia.org/wiki/File:Spinning_wheel_throbber.gif</a><br/>
        Auth: Jakub Steiner, <a href="http://en.wikipedia.org/wiki/Tango_Desktop_Project">w:Tango Desktop Project</a> authors.<br/>
        Permission: CCPL-Attribution-ShareAlike-2.5<br/>
        Original source: <a href="http://webcvs.freedesktop.org/tango/tango-icon-theme/32x32/animations/process-working.png?revision=1.1&amp;view=markup">src</a><br/></p>
      </dd>
    </dl>
  </div>
  [% PROCESS "inc/footer.inc" %]

