[% PROCESS "inc/header.inc" %]
[% $page := "Browser Plugins" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">
  
<h1>{{FAQ on Plugins and Add-Ons}}</h1>

  <i>{{This FAQ has been produced to try and address issues caused when using browser add-ons}}</i></p>

[% PROCESS "faq/intro_js.inc" %]  
[% PROCESS "faq/plugins_tryagain.inc" %]

<h2>{{Alternative test for you..}}</h2>

<p>{{This image based test is provided as a workaround. It will give you a quick pass/fail test, to tell you if you should be worried for World IPv6 Day.}}</p>

[% PROCESS "faq/simple_test.inc" %]



</div>

      
    
[% PROCESS "inc/footer.inc" %]
