[% PROCESS "inc/header.inc" %]
[% $page := "IPv4 Only" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">
  
<h1>{{ About your IPv4-only Internet service. }}</h1>

  
  <p><i>{{ This FAQ has been produced to try and address the questions of IPv4 only users }}</i></p>
  

  
[% PROCESS "faq/dontfeelbad.inc" %]

[% PROCESS "faq/nothingwillbreak.inc" %]

[% PROCESS "faq/whyipv6.inc" %]

[% PROCESS "faq/brokers.inc" %]


<p>{{ If you are not savvy with technology, here is more generic information: }}</p>

[% PROCESS "faq/matrix_os.inc" %]
[% PROCESS "faq/dontstress.inc" %]


</div>

      
    
[% PROCESS "inc/footer.inc" %]
