[% PROCESS "inc/header.inc" %]
[% $page := "Teredo" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">
  
<h1>{{About Teredo}}</h1>

<i>{{This FAQ has been produced to tell you about Microsoft's Teredo service - a transition tool to help get early access to the IPv6 Internet.}}</i></p>
<p>{{ By default, Teredo is enabled on Vista and Windows 7.   However, if Teredo is the only available IPv6
solution for you, it will default to only connecting to web sites by IPv6 address - not by name.
More can be found <a href="http://technet.microsoft.com/en-us/library/bb727035.aspx">here</a>.
Once a global IP address has been assigned, Windows will do lookups.
At this point, you probably wonder - why do I need Teredo? }}
</p>

</div>

      
    
[% PROCESS "inc/footer.inc" %]
