[% PROCESS "inc/header.inc" %]
[% $page := "Using HTTPS" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">


<h1>{{HTTP vs HTTPS}}</h1>

<p>{{The web is evolving towards using secure connections everywhere.  While this is generally a good thing for security, it does impact what tests we can run.}}</p>

  <p>{{When visiting with HTTPS, we are unable to detect NAT64 or Teredo.}} {{Some browsers now force HTTPS.  For these browsers, these features are no longer available.}}</p>

  <h3>{{Why do these specific tests fail when using HTTPS?}}</h3>

  <p>{{NAT64 is detected when connections by name work, but by IPv4 numeric address do not.}}</br>
{{Teredo is detected when connections by name fail, but by IPv6 numeric address work.}}</p>

  <p>{{When running in HTTPS mode, connecting to a specific IP address requires a special certificate.
    These certificates are available only with proof of ownership for the IP address. }}

  <p>{{test-ipv6.com is actually spread across many providers.
  Some are hosting providers, or customers of hosting providers.
  Some are broadband internet providers.
  It is not possible for test-ipv6.com to prove ownership of their address space.}}
  {{As an example, I can't prove I own the Comcast (a large US broadbroad provider) IP addresses used by this site.</p>

<p>{{Links:}}</p>
<ul>
    <li><a href="javascript:window.location=window.location.href.replace('http://', 'https://');">https</a>
    <li><a href="javascript:window.location=window.location.href.replace('https://', 'http://');">http</a>
</ul>


[% PROCESS "inc/footer.inc" %]
