[% PROCESS "inc/header.inc" %]
[% $page := "PoP-PR" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">
  <h1 id="title">First Regionally-Hosted "transparent" test-IPv6.com mirror</h1>
  <div>

<p><i>August 23, 2016</i></p>

<p><b>Obrigado ao <a href="http://pop-pr.rnp.br">Ponto de Presença da RNP no Estado do Paraná.</a></b></p>
<p style="margin-left: 1em;"><em>Thank you to <a href="http://pop-pr.rnp.br">Ponto de Presença da RNP no Estado do Paraná.</a></em></p>

<p>

O test-ipv6.com está animado em anunciar que o PoP-PR/RNP agora executa um site espelho oficial (<a href="http://test-ipv6.arauc.br">test-ipv6.arauc.br</a>).  
Adicionalmente, eles também se ofereceram para aceitar o tráfego em "test-ipv6.com" dos usuários da região. Este é um enorme impulso na confiabilidade
do site para os clientes próximos.
</p><p style="margin-left: 1em;">
<em>
test-ipv6.com is excited to announce that PoP-PR is now running an official mirror site (test-ipv6.arauc.br).
They have additionally offered to accept "test-ipv6.com" traffic for users in the region
as well. This is a huge boost in realibility for the site for nearby
customers.
</em></p>

<p>
Nos próximos meses, vamos começar o roteamento de todos os visitantes do test-ipv6.com no Brasil a este novo recurso, tirando vantagem de melhor conectividade Internet
que se torna possível através da hospedagem dentro do país.
</p> <p style="margin-left: 1em;">
<em>
In the next few months, we will start routing all Brazil viewers of
test-ipv6.com to this new resource, to take advantage of the improved Internet connectivity 
that is possible by hosting within the country.
</em>
</p>

<p>
Se você atualmente é um provedor de serviços no Brasil, e quer que eu
adicione seu ASN para a lista de "encaminhamento" imediatamente, por favor contate
<a href="http://jfesler@test-ipv6.com">jfesler@test-ipv6.com</a>.
</p><p style="margin-left: 1em;">
<em>
If you are a service provider in Brazil today, and you wish me to add
your ASN to the "forward" list immediately, please contact 
jfesler@test-ipv6.com.
</em>
</p>

<p>
Se você quiser visitar o site espelho do PoP-PR diretamente, ou entrar em contato com eles sobre
acessibilidade de rede, visite <a href="http://test-ipv6.arauc.br">http://test-ipv6.arauc.br</a>. 
Ou peça para seu provedor de serviços entrar em contato com eles para falar sobre peering!
</p><p style="margin-left: 1em;">
<em>
If you want to visit POP-PR's site mirror directly, or to contact them about
network reachablity, please visit http://test-ipv6.arauc.br. Or have your
service provider reach out to them to talk about peering!
</em>
</p>

<p>--jason</p>


[% PROCESS "inc/footer.inc" %]
