[% PROCESS "inc/header.inc" %]
[% $page := "Comcast" %]
[% PROCESS "inc/list-nav.inc" %]

<div id="content">
  <h1 id="title">First Regionally-Hosted "transparent" test-IPv6.com mirror</h1>
  <div>

<p><i>August 23, 2016</i></p>

<p><b>Graças a <a href="http://pop-pr.rnp.br">Ponto de Presença da RNP no Estado do Paraná.</a></b></p>
<p style="margin-left: 1em;"><em>Thank you to <a href="http://pop-pr.rnp.br">Ponto de Presença da RNP no Estado do Paraná.</a></em></p>

<p>

test-ipv6.com está animado para anunciar que PoP-PR agora está em execução
um site espelho oficial (<a href="http://test-ipv6.aurac.br">test-ipv6.aurac.br</a>).  
Eles têm, adicionalmente, se ofereceu para aceitar "test-ipv6.com" o tráfego
para os usuários da região também.  Este é um enorme impulso na realibility
para o site para os clientes próximos.
</p><p style="margin-left: 1em;">
<em>
test-ipv6.com is excited to announce that PoP-PR is now running an official mirror site (test-ipv6.aurac.br).
They have additionally offered to accept "test-ipv6.com" traffic for users in the region
as well. This is a huge boost in realibility for the site for nearby
customers.
</em></p>

<p>
Nos próximos meses, vamos começar roteamento todos os telespectadores Brasil de
test-ipv6.com a este novo recurso, para tirar vantagem da conectividade de Internet melhorada
o que é possível através do acolhimento dentro do país.
</p> <p style="margin-left: 1em;">
<em>
In the next few months, we will start routing all Brazil viewers of
test-ipv6.com to this new resource, to take advantage of the improved Internet connectivity 
that is possible by hosting within the country.
</em>
</p>

<p>
Se você é um prestador de serviços no Brasil hoje, e você me deseja adicionar
o ASN para a lista de "forward" de imediato, por favor contacte
<a href="http://jfesler@test-ipv6.com">jfesler@test-ipv6.com</a>.
</p><p style="margin-left: 1em;">
<em>
If you are a service provider in Brazil today, and you wish me to add
your ASN to the "forward" list immediately, please contact 
jfesler@test-ipv6.com.
</em>
</p>

<p>
Se você quiser visitar espelho local do POP-PR directamente, ou entrar em contato com eles sobre
reachablity rede, visite <a href="http://test-ipv6.arauc.br">http://test-ipv6.arauc.br</a>. 
Ou ter o seu prestador de serviços de alcançá-los para falar sobre espiando!
</p><p style="margin-left: 1em;">
<em>
If you want to visit POP-PR's site mirror directly, or to contact them about
network reachablity, please visit http://test-ipv6.arauc.br. Or have your
service provider reach out to them to talk about peering!
</em>
</p>

<p>--jason</p>


[% PROCESS "inc/footer.inc" %]
