[% PROCESS "inc/header.inc" %]
[% $page := "stats" %]
[% PROCESS "inc/list-nav.inc" %]

  <h1 id="title">{{<span lookup="site.name">site</span> statistics}}</h1>


<div class="bigdiv">
<p>{{ Graphs are updated daily. }}</p>


{{ Quick notes: }}
<ul>
<li>{{ Brokeness goes down, when volume goes up.   This is due to having a
wider sample of average people (versus people explicitly testing a new IPv6
setup). }}</li>
</ul>
<div id="csvmissing">
Loading /site/graphdata.csv...
</div>

<div class="g_outer">
  <div id="g1" class="graph" style="width:95%;">
  </div>
</div>
<p />
<div class="g_outer">
  <div id="g2" class="graph" style="width:95%"></div>
</div>
<p />
<div class="g_outer">
  <div id="g3" class="graph" style="width:95%"></div>
</div>
<p />

<div style="clear: both"></div>



</div>


<script type="text/javascript">

$(document).ready(function() { GIGO.startGraphs();} );

</script>

[% PROCESS "inc/footer.inc" %]
