project_identifier: falling-sky
api_key: APIKEYHERE
base_path: /home/jfesler/falling-sky/source/po

files:
    -
      source: 'falling-sky.pot'
      translation: 'falling-sky.%locale_with_underscore%.po'
        
